# Data preprocessing

In [36]:
import numpy as np
import pandas as pd

In [86]:
print('Loading raw data...')
train_users_path='input/train_users_2.csv'
test_users_path='input/test_users.csv'
sessions_path='input/sessions.csv'

train_users = pd.read_csv(train_users_path)
target = train_users['country_destination']
#df_train = df_train.drop(['country_destination'], axis=1)

#test_users
test_users = pd.read_csv(test_users_path)    
id_test = test_users['id']

#sessions
sessions = pd.read_csv(sessions_path)
sessions['id'] = sessions['user_id']
sessions = sessions.drop(['user_id'],axis=1)

Loading raw data...

In [87]:
all_users = pd.concat([train_users, test_users], axis=0, ignore_index=True)

# Age

### Omit age youger than 16 and older than 100

In [88]:
all_users.loc[(all_users['age'] > 100) | (all_users['age'] < 16), 'age'] = -1

In [89]:
all_users['age'].fillna(-1, inplace=True)

In [90]:
#bucket all ages into format that user_demo is in for age
import math
def agebuckets(ages):
    ageless =  [i for i in range(5,101,5)] # 5, 10, 15, 20...95, 100
    buckets = ['%d-%d' %(i, i+4) for i in range(0,100,5)] # 0-4, 5-9, 10-14...90-94, 95-99
    newlist = []
    for i in range(len(ages)):
        if math.isnan(ages[i]):
            newlist.append('NA')
        elif ages[i] <ageless[0]:
            newlist.append(buckets[0])
        elif ages[i] < ageless[1]:
            newlist.append(buckets[1])
        elif ages[i] < ageless[2]:
            newlist.append(buckets[2])
        elif ages[i] < ageless[3]:
            newlist.append(buckets[3])
        elif ages[i] < ageless[4]:
            newlist.append(buckets[4])
        elif ages[i] < ageless[5]:
            newlist.append(buckets[5])
        elif ages[i] < ageless[6]:
            newlist.append(buckets[6])
        elif ages[i] < ageless[7]:
            newlist.append(buckets[7])
        elif ages[i] < ageless[8]:
            newlist.append(buckets[8])
        elif ages[i] < ageless[9]:
            newlist.append(buckets[9])
        elif ages[i] < ageless[10]:
            newlist.append(buckets[10])
        elif ages[i] < ageless[11]:
            newlist.append(buckets[11])
        elif ages[i] < ageless[12]:
            newlist.append(buckets[12]) 
        elif ages[i] < ageless[13]:
            newlist.append(buckets[13]) 
        elif ages[i] < ageless[14]:
            newlist.append(buckets[14])
        elif ages[i] < ageless[15]:
            newlist.append(buckets[15])
        elif ages[i] < ageless[16]:
            newlist.append(buckets[16])
        elif ages[i] < ageless[17]:
            newlist.append(buckets[17])
        elif ages[i] < ageless[18]:
            newlist.append(buckets[18])
        elif ages[i] < ageless[19]:
            newlist.append(buckets[19]) 
        else:
            newlist.append('100+')
    return newlist

In [91]:
#all_users.age = agebuckets(all_users.age)

In [92]:
all_users.age.head()

0    -1.0
1    38.0
2    56.0
3    42.0
4    41.0
Name: age, dtype: float64

In [93]:
bins = [-1, 15, 20, 25, 30, 40, 50, 60, 75, 100]
all_users['age_group'] = np.digitize(all_users['age'], bins, right=True)

In [94]:
all_users.age_group.head()

0    0
1    5
2    7
3    6
4    6
Name: age_group, dtype: int64

In [95]:
all_users['date_account_created'] = pd.to_datetime(all_users['date_account_created'])
all_users['date_first_active'] = pd.to_datetime(all_users['timestamp_first_active'], format='%Y%m%d%H%M%S')

In [96]:
all_users.date_first_active.head()

0   2009-03-19 04:32:55
1   2009-05-23 17:48:09
2   2009-06-09 23:12:47
3   2009-10-31 06:01:29
4   2009-12-08 06:11:05
Name: date_first_active, dtype: datetime64[ns]

### Split the date into dates years, weeks, and days.

In [97]:
date_account_created = pd.DatetimeIndex(all_users['date_account_created'])
date_first_active = pd.DatetimeIndex(all_users['date_first_active'])
date_first_booking = pd.DatetimeIndex(all_users['date_first_booking'])

In [98]:
date_first_booking

DatetimeIndex([       'NaT',        'NaT', '2010-08-02', '2012-09-08',
               '2010-02-18', '2010-01-02', '2010-01-05', '2010-01-13',
               '2010-07-29', '2010-01-04',
               ...
                      'NaT',        'NaT',        'NaT',        'NaT',
                      'NaT',        'NaT',        'NaT',        'NaT',
                      'NaT',        'NaT'],
              dtype='datetime64[ns]', name='date_first_booking', length=275547, freq=None)

In [99]:
all_users['day_account_created'] = date_account_created.day
all_users['weekday_account_created'] = date_account_created.weekday
all_users['week_account_created'] = date_account_created.week
all_users['month_account_created'] = date_account_created.month
all_users['year_account_created'] = date_account_created.year
all_users['day_first_active'] = date_first_active.day
all_users['weekday_first_active'] = date_first_active.weekday
all_users['week_first_active'] = date_first_active.week
all_users['month_first_active'] = date_first_active.month
all_users['year_first_active'] = date_first_active.year

all_users['day_first_book'] = date_first_booking.day
all_users['weekday_first_book'] = date_first_booking.weekday
all_users['week_first_book'] = date_first_booking.week
all_users['month_first_book'] = date_first_booking.month
all_users['year_first_book'] = date_first_booking.year

### Get the difference(time lag) between the date in which the account was created and when it was first active:

In [100]:
all_users['account_created_lag'] = (date_account_created.values - date_first_active.values).astype(int)

In [101]:
all_users['first_book_lag'] = (date_first_booking.values - date_account_created.values).astype(int)
all_users['account_active_lag'] = (date_first_booking.values - date_first_active.values).astype(int)

In [102]:
#drop_list = [
#    'date_account_created',
#    'date_first_active',
#    'timestamp_first_active'
#]

all_users.drop(['date_account_created', 'date_first_active', 'timestamp_first_active', 'date_first_booking'], axis=1, inplace=True)

In [103]:
all_users.head()

,affiliate_channel,affiliate_provider,age,country_destination,first_affiliate_tracked,first_browser,first_device_type,gender,id,language,...,month_first_active,year_first_active,day_first_book,weekday_first_book,week_first_book,month_first_book,year_first_book,account_created_lag,first_book_lag,account_active_lag
0,direct,direct,-1.0,NDF,untracked,Chrome,Mac Desktop,-unknown-,gxn3p5htnn,en,...,3,2009,NaN,NaN,NaN,NaN,NaN,40246025000000000,-9223372036854775808,-9223372036854775808
1,seo,google,38.0,NDF,untracked,Chrome,Mac Desktop,MALE,820tgsjxq7,en,...,5,2009,NaN,NaN,NaN,NaN,NaN,63180711000000000,-9223372036854775808,-9223372036854775808
2,direct,direct,56.0,US,untracked,IE,Windows Desktop,FEMALE,4ft3gnwmtx,en,...,6,2009,2.0,0.0,31.0,8.0,2010.0,41042833000000000,-4924800000000000,36118033000000000
3,direct,direct,42.0,other,untracked,Firefox,Mac Desktop,FEMALE,bjjt8pjhuk,en,...,10,2009,8.0,5.0,36.0,9.0,2012.0,66074311000000000,24019200000000000,90093511000000000
4,direct,direct,41.0,US,untracked,Chrome,Mac Desktop,-unknown-,87mebub9p4,en,...,12,2009,18.0,3.0,7.0,2.0,2010.0,24169735000000000,-17971200000000000,6198535000000000

# Session data
### Let's aggregate the data by time elapsed

In [104]:
sessions.rename(columns = {'user_id': 'id'}, inplace=True)

In [105]:
action_count = sessions.groupby(['id', 'action'])['secs_elapsed'].agg(len).unstack()

In [106]:
action_type_count = sessions.groupby(['id', 'action_type'])['secs_elapsed'].agg(len).unstack()

In [107]:
action_detail_count = sessions.groupby(['id', 'action_detail'])['secs_elapsed'].agg(len).unstack()

In [108]:
device_type_sum = sessions.groupby(['id', 'device_type'])['secs_elapsed'].agg(sum).unstack()

In [109]:
#sessions.groupby('id')['device_type'].head()

In [110]:
sessions_data = pd.concat([action_count, action_type_count, action_detail_count, device_type_sum],axis=1)
sessions_data.columns = sessions_data.columns.map(lambda x: str(x) + '_count')

# Most used device
sessions_data['most_used_device'] = sessions.groupby('id')['device_type'].max()

all_users = all_users.join(sessions_data, on='id')

In [111]:
device_type_sum.head()

device_type,-unknown-,Android App Unknown Phone/Tablet,Android Phone,Blackberry,Chromebook,Linux Desktop,Mac Desktop,Opera Phone,Tablet,Windows Desktop,Windows Phone,iPad Tablet,iPhone,iPodtouch
id,,,,,,,,,,,,,,
00023iyk9l,NaN,NaN,NaN,NaN,NaN,NaN,295642.0,NaN,NaN,NaN,NaN,NaN,572254.0,NaN
0010k6l0om,NaN,NaN,NaN,NaN,NaN,NaN,586543.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
001wyh0pz8,NaN,282965.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0028jgx1x1,297010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
002qnbzfs5,203511.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6283569.0,NaN

In [112]:
secs_elapsed_per_user = sessions.groupby('id')['secs_elapsed']

secs_elapsed_per_user = secs_elapsed_per_user.agg(
    {
        'secs_elapsed_sum': np.sum,
        'secs_elapsed_mean': np.mean,
        'secs_elapsed_min': np.min,
        'secs_elapsed_max': np.max,
        'secs_elapsed_median': np.median,
        'secs_elapsed_std': np.std,
        'secs_elapsed_var': np.var,
        'day_pauses': lambda x: (x > 86400).sum(),
        'long_pauses': lambda x: (x > 300000).sum(),
        'short_pauses': lambda x: (x < 3600).sum(),
        'session_length' : np.count_nonzero
    }
)

all_users = all_users.join(secs_elapsed_per_user, on='id')

In [113]:
all_users.columns

Index(['affiliate_channel', 'affiliate_provider', 'age', 'country_destination',
       'first_affiliate_tracked', 'first_browser', 'first_device_type',
       'gender', 'id', 'language',
       ...
       'secs_elapsed_median', 'secs_elapsed_mean', 'secs_elapsed_var',
       'secs_elapsed_max', 'session_length', 'secs_elapsed_std',
       'secs_elapsed_min', 'secs_elapsed_sum', 'short_pauses', 'long_pauses'],
      dtype='object', length=582)

In [114]:
categorical_features = [
    'gender', 'signup_method', 'signup_flow', 'language',
    'affiliate_channel', 'affiliate_provider', 'first_affiliate_tracked',
    'signup_app', 'first_device_type', 'first_browser', 'most_used_device'
]
all_users = pd.get_dummies(all_users, columns=categorical_features)

In [115]:
all_users.head()

,age,country_destination,id,age_group,day_account_created,weekday_account_created,week_account_created,month_account_created,year_account_created,day_first_active,...,most_used_device_Chromebook,most_used_device_Linux Desktop,most_used_device_Mac Desktop,most_used_device_Opera Phone,most_used_device_Tablet,most_used_device_Windows Desktop,most_used_device_Windows Phone,most_used_device_iPad Tablet,most_used_device_iPhone,most_used_device_iPodtouch
0,-1.0,NDF,gxn3p5htnn,0,28,0,26,6,2010,19,...,0,0,0,0,0,0,0,0,0,0
1,38.0,NDF,820tgsjxq7,5,25,2,21,5,2011,23,...,0,0,0,0,0,0,0,0,0,0
2,56.0,US,4ft3gnwmtx,7,28,1,39,9,2010,9,...,0,0,0,0,0,0,0,0,0,0
3,42.0,other,bjjt8pjhuk,6,5,0,49,12,2011,31,...,0,0,0,0,0,0,0,0,0,0
4,41.0,US,87mebub9p4,6,14,1,37,9,2010,8,...,0,0,0,0,0,0,0,0,0,0

# Save preprocessed data

In [118]:
all_users.set_index('id', inplace=True)

KeyError: 'id'

In [119]:
all_users.loc[train_users['id']].to_csv('preprocessed/train_users.csv')
all_users.loc[test_users['id']].drop('country_destination', axis=1).to_csv('preprocessed/test_users.csv')